<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Freight Booking</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="body.css">

<body>
  <header>
    <nav>
      <div class="title">

        <h3> Freight Booking Site</h3>
      </div>
      <div class="navigate">
        <ul>
          <!-- <li class="li-items" id="home"><a href="/">Home</a></li> -->
          <li class="li-items" id="profile"><a href="/profile">Administrator</a></li>
          <!-- <li class="li-items" id="booking"><a href="/booking">Booking</a></li>
          <li class="li-items" id="about"><a href="/about">About Us</a></li>
          <li class="li-items" id="login"><a href="/login">Login</a></li> -->
          <li class="li-items" id="logout"><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </header>