<!-- About us page -->
<!-- Completed -->

<%- include("partials/header"); -%>
    <link rel="stylesheet" href="about.css">
    <section class="about">
        <div class="about-page1">
            <h2> About Us</h2>
            <p>
                At FreightNow, we believe that shipping your goods should be simple, fast, and affordable. That's why we
                created an
                online platform that connects shippers with a network of reliable carriers, making it easy to book,
                track, and
                manage
                your shipments.

                Our mission is to help businesses of all sizes streamline their logistics and supply chain operations by
                providing
                them
                with access to the best carriers in the industry. Whether you're shipping locally or internationally,
                we've got you
                covered.

                We understand that every shipment is unique, which is why we offer a wide range of services to meet your
                specific
                needs.
                From full truckload to less-than-truckload, we've got the right solution for your business. And with our
                real-time
                tracking and monitoring system, you can always stay up-to-date on the status of your shipments.

                Our team of logistics experts is dedicated to providing you with the highest level of customer service.
                We're here
                to
                answer your questions, address your concerns, and help you find the right shipping solutions for your
                business. At
                FreightNow, we're committed to making your shipping experience as smooth and stress-free as possible.

                So whether you're a small business owner or a large enterprise, trust FreightNow to handle all of your
                shipping
                needs.
                Get started today and experience the power of our online platform.
            </p>
        </div>
        <div class="about-page2">
            <h2>Our Offices</h2>
                <div>
                    <h5>HEAD OFFICE :</h5>
                    <p>7/1 Lake Terrace Road<br>
                    Deshapriya Park,<br>
                    Tenkasi - 627 029<br>
                    e-mail : shajan@fbs.com</p>
                </div>
                <div>
                    <h5>KANYAKUMARI OFFICE :</h5>
                    <p>Plot No. 18, Paigah Colony, Phase-I<br>
                    Behind Anand Theater S.P. Road<br>
                    Kanyakumari - 600 006.<br>
                    e-mail : udhaya@fbs.com</p>
                </div>
                
                <div>
                    <h5>SALEM OFFICE :</h5>
                    <p>Sr. No.42A, Asha House, 1st Floor,<br>
                    Near Hotel Panchami, Shahu College Road, Parvati,<br>
                    Salem - 651 009<br>
                    e-mail : suriyan@fbs.com</p>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer"); -%>