<!-- General Page -->
<!-- Yet to Start -->

<%- include("partials/header"); -%>
<link rel="stylesheet" href="home.css">
<section class="home">
<section  class="home-top">
    <div>
        <div>
            <h2>Welcome to Freight Booking Site</h2>
            <h4>Send Anything, anywhere, anytime.</h4>
        </div>
        <div>
            <a href="/booking"><button type="button"><h4></h4>Getting Started</button></a>
        </div>
    </div>
</section>

<article class=""> 
    <div>
            Founded in 1976, Freight Booking Site is public listed company on NSE & BSE Exchange with a Market capitalization of INR 43.67 billion, 
            we grown into a nationally renowned logistics and transport company which is also currently
            the largest fleet owner of commercial vehicles in India. Frieght Booking Site has pioneered in providing a safe and reliable logistics
            network in the field of parcel service, ensuring last mile delivery even in remote locations. We integrated
            hub-and-spoke operating model which enables optimal aggregation of consignments from a diversified customer base across
            multiple industries and locations
    </div>
</article>

<section class="mission">

        <div class="content">
            <h3>Our Vision</h3>
            <p>To become the Premier Company that cuts across various segments and emerges as the torchbearer of each segment that it ventures into.
                Alongside providing the best servicers to our beloved customers.
            </p>
        </div>
        <div class="content">
            <h3>Our Mission</h3>
            <p>To provide the highest quality service to our customers by continuously increasing cost efficiency and maintaining
            delivery deadlines. To encourage our workforce to continuously strive for quality and excellence in everything they do.</p>
        </div>
        <div class="content">
            <h3>Quality Policy</h3>
            <p>We are committed to provide quality logistics services consistently at reasonable price and to continually improve the
            same to achieve customers delight on a sustainable basis.</p>
        </div>
</section>
<article class="big">
    <div>
        General Parcel forms the core of Freight's and involves pan Indian movement of consignments of varying size and
        weight across the country on a Less than Truck Load godown to godown Basis. The Company also provides the option
        of door collection and door delivery to the customers at a cost. The Priority Cargo business involves
        door-to-door
        delivery. Freight offers its goods transportation services across 22 States and, 4 Union Territories covering
        all major
        cities and towns in India. Freight has its exclusive offices across 553 towns and cities in India. Operations in
        this
        division are conducted through a network of 875 branches and franchisees. We differentiate ourselves from other
        service
        providers through our wide service network, as well as our ability to provide door-to-door services through
        company-owned vehicles. We provide our customers with billing, collection, load tracking, pick-up and delivery
        services.
        Operating through owned vehicles enables safest possible movement for consignments with lowest incidences of
        theft,
        pilferage, damage, etc.
    </div>
</article>
<section class="services">
    <div class="holder">
        <div class="set">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-check"
                viewBox="0 0 16 16">
                <path
                    d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                <path
                    d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
                </svg><br>  
        Hassle-Free truck rental
            Book truck online. Whenevere you need, wherever you need</p>
        </div>
        <div class="set">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-currency-rupee"
                viewBox="0 0 16 16">
                <path
                    d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
            </svg><br>
            Transparent Pricing
            Enjoy the most affordable rates in town with our transparent pricing</p>
        </div>
        <div class="set">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-shield-lock"
                viewBox="0 0 16 16">
                <path
                    d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z" />
                <path
                    d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z" />
            </svg><br>
            Safe and Reliable Trucks
            Superior safety and trained partners</p>
        </div>
        <div class="set">
            <p><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-battery-full"
                viewBox="0 0 16 16">
                <path d="M2 6h10v4H2V6z" />
                <path
                    d="M2 4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H2zm10 1a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h10zm4 3a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z" />
            </svg><br>
        Fully Load Services at Heavy Duty
        Superior safety and trained partners</p>
        </div>
    </div>
</section>

</section>

<%- include("partials/footer"); -%>