.login{
    background-image: url("imgs/login-bg.jpg");
    background-size: cover;
}
.login-page{ 
    height:80vh;
    width:40vw;
    float:right;
    padding: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.804);
    font-family:'Times New Roman', Times, serif;
    color:royalblue;
}
.login-alert {
  font-family: 'Courier New', Courier, monospace;
  padding: 1rem 1.5rem;
  color: #c70000;
  text-decoration: underline;
  font-size: 1.1rem;
}
.login h2{
    font-size: 2rem;
    margin-top:2%;
    margin-bottom: 8%;
}
.login label{
    
    font-size: 1.3rem;
    margin-right:9px;
}
.login input{
    padding: 6px 12px;
    font-size:1.2rem;
    border-radius: 4px;
    border:1px solid royalblue;
    margin-bottom: 5%;
    color:rgb(87, 122, 224);
}
.login input[type="submit"]{
    background-color: royalblue;
    color:rgb(255, 255, 255);
    font-size: 1rem;;
    padding: 12px 36px;
    margin-bottom: 5%;
    font-weight: bolder;
}
.login p{
    font-size: 1.1rem;
    margin-bottom: 6%;
}
.login a button{
    border: 1px solid royalblue;
    background-color: transparent;
    border-radius: 4px;
    font-size: 1rem;;
    padding: 12px 36px;
    font-weight: bolder;
    color:royalblue
}
.login input[type="submit"]:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition:  0.4s ;
}
.login a button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition:  0.3s ;
}


